<div class="page-banner">
</div>

<div>
  <h1><%= @cocktail.name %></h1>
</div>

<div>
  <h2>A bit more about this cocktail...</h2>
</div>
<div>
  <h1>Doses</h1>
  <ul class="list-inline">
  </ul>
</div>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id)  %>
